// Place all the styles related to the Exchanges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background: white;
}

.main-page {
  background-color: #ECEEEF;
}

#rates_chart {
  height: 250px;
  width: 100%;
}
